<%- include('partials/header') %>
<div class="jumbotron centered">
    <div class="container">
        <span style="color: rgb(25, 86, 147);">
    <i class="fa-solid fa-wallet fa-10x fa-bounce"></i></span>
    <h1 class="display-3">PersFi</h1>
  <a class="btn btn-dark btn-lg" href="/register" role="button">Check Aryaman's</a>
   <!-- <a  class="btn btn-dark btn-lg" href="/login" role="button">Login</a> -->
</div>
</div>










<%- include('partials/footer') %>
