body{
    background-color: wheat;
}
.main{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.persfi{
    position: absolute;
    align-items: center;
}
.centered {
    padding-top: 200px;
    text-align: center;
}

